@font-face {
    font-family: 'lato';
    src: url('../font/Lato-Hairline.ttf') format('ttf'),
         url('../font/Lato-thin.ttf') format('ttf'),
         url('../font/Lato-light.ttf') format('ttf'), 
         url('../font/Lato-regular.ttf') format('ttf');
}

@font-face {
    font-family: 'fontAwesome'; 
    src: url('font/fontawesome-webfont.ttf') format('ttf'),
         url('font/fontawesome-webfont.woff') format('woff'),
         url('font/fontawesome-webfont.woff2') format('woff2');
}


@font-face {
    font-family: 'Alex Brush';
    src: url('../font/AlexBrush-Regular.ttf') format('ttf');
}