// GRID VARIABLE
$columns: 12;

//MEDIA QUERIES BREAKPOINT

$xl_scr: 1200px;
$lg_scr: 992px;
$md_scr: 768px;
$sm_scr: 576px;

// Font-Family

$default_font : 'lato', sans-serif;
$secondary_font : 'Alex Brush', serif;

// Color
$dark_color: #1d1d1d;
$gray_color: #757575;
$white_color: #ffffff;